@{
    ViewBag.Title = "About";
}
<a href="/home/about"> about</a>
<a href="/home/"> home</a>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
